.categoriesBar {
  height: 64px;
  background-color: #f5f4f3;
  padding: 16px 120px;

  .categoriesTitle {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width:1280px;
    height: 32px;
    margin:0 auto;

      .bookCateBtn {

      
        .btnClicked, .btnNonClicked {

          padding: 8px 12px;
          margin-right:10px;
          font-size:14px;
          border-radius: 100px;
          border: 1px solid #242424;
          
        }

        .btnClicked {
          background-color: #242424;
          color: white;
        }
  
        .btnNonClicked {
          background-color: transparent;
          color: #242424;
        }

        .span {
          font-weight: 800;
          font-size: 14px;
        }
      }
    }
  }